main > section {
  padding: 2rem 10rem;
}

main > section:nth-child(odd) {
  background-color: var(--primary);
  color: var(--light);
}

main h2 {
  display: inline-block;
  position: relative;
  z-index: 1;
}

main h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 5px;
  transform: rotateZ(2deg);
  background: var(--accent-light);
  z-index: -1;
}

main > section:nth-child(odd) h2::before {
  transform: rotateZ(-2deg);
  background: var(--accent-dark);
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.fab {
  font-size: 4rem;
}

@media screen and (max-width: 55em) {
  main > section {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 41em) {
  main > section {
    padding: 2rem 1rem;
  }
}
