nav {
  display: flex;
  position: fixed;
  inset: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 10rem;
  transition: background-color ease-in-out 150ms;
  background-color: transparent;
  z-index: 10;
}

nav.scrolled,
nav.open,
nav:focus-within {
  background-color: var(--dark);
}

#menu {
  display: none;
  background-color: transparent;
  border: none;
}

#menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 3px;
  background-color: var(--light);
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menu span:first-child {
  transform-origin: 0% 0%;
}

#menu span:last-child {
  transform-origin: 0% 100%;
  margin-bottom: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
  height: fit-content;
}

nav li {
  list-style: none;
  height: fit-content;
}

.logo {
  font-family: Lobster;
  font-size: 1.5rem;
}

.logo,
.nav-item,
.nav-button {
  color: var(--light);
  text-decoration: none;
}

.nav-button {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light);
}

.nav-button:hover {
  background-color: var(--light);
  color: var(--dark);
}

.nav-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--light-transparent);
}

@media screen and (max-width: 55em) {
  nav {
    padding: 0.75rem 5rem;
  }
}

@media screen and (max-width: 41em) {
  nav {
    padding: 0.75rem 1rem;
  }

  #menu {
    display: inline-block;
  }

  nav.open #menu span:first-child {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  nav.open #menu span {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  nav.open #menu span:last-child {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  nav ul {
    position: absolute;
    inset: -4rem 0 auto 0;
    flex-direction: column;
    background-color: var(--dark);
    transition: opacity ease-in-out 150ms, inset ease-in-out 150ms;
    opacity: 0;
    padding: 1.5rem;
  }

  nav ul li {
    width: fit-content;
    margin: 0 auto;
  }

  nav.open ul,
  nav ul:focus-within {
    inset: calc(30px + 1.5rem) 0 auto 0;
    opacity: 1;
  }
}
