nav {
  display: flex;
  position: fixed;
  inset: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 10rem;
  transition: background-color ease-in-out 150ms;
  z-index: 10;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
  height: fit-content;
}

nav li {
  list-style: none;
  height: fit-content;
}

.logo {
  font-family: Lobster;
  font-size: 1.5rem;
}

.logo,
.nav-item,
.nav-button {
  color: var(--light);
  text-decoration: none;
}

.nav-button {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

@media screen and (max-width: 55em) {
  nav {
    padding: 0.75rem 5rem;
  }
}

@media screen and (max-width: 40.5em) {
  nav {
    padding: 0.75rem 1rem;
  }
}
